html
    head
        title Planter Service
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    - const planterlist = planters
    //div.planter
    //    table
    //        tr
    //            th id
    //            th lux
    //            th humidity
    //            th temp
    //            th date
    //        each planter in planterlist
    //            tr
    //                td= planter.id
    //                td= planter.lux
    //                td= planter.humidity + " %"
    //                td= planter.temperature + " °C"
    //                td= planter.readtime
    div#planterlist
        each planter in planterlist
            div.plantbox
                h1.header common name
                h2.subtext latin name
                div
                    img(src="/files/sun.png" style= {display: "inline-block", height: "1em"})
                    p(style = {display: "inline-block"})= "Light level: "+ planter.lux
                div.subblock
                    div
                        img(src="/files/temperature.png" style= {display: "inline-block", height: "1em"})
                        div= "Temperature: "+ planter.temperature + " °C"
                    div
                        img(src="/files/water.png" style= {display: "inline-block", height: "1em"})
                        div= "Humidty: "+ planter.humidity+ " %"

